:root {
    --ion-color-secondary: #006600;
    --ion-color-secondary-rgb: 0,102,0;
    --ion-color-secondary-contrast: #ffffff;
    --ion-color-secondary-contrast-rgb: 255,255,255;
    --ion-color-secondary-shade: #005a00;
    --ion-color-secondary-tint: #1a751a;
    --ion-background-color: #1e2023;
}

ion-segment-button{
    --background-hover: #1a751a;
    --background-focused: #1a751a;
    --color-checked: #1a751a;
    --indicator-color: #1a751a;
}

ion-toggle{
    --handle-background: #2ab62a;
    --handle-background-checked: #2ab62a;

    --background: #005a00;
    --background-checked: #1a751a;
}

ion-item{
    --border-color: #474747;
}

.alert-radio-label.sc-ion-alert-md{
    color: white;
    border-color: azure;
}

[aria-checked=true].sc-ion-alert-md .alert-radio-label.sc-ion-alert-md{
    color: white;
    border-color: azure;
}

.alert-title.sc-ion-alert-md{
    color: white;
}

.hydrated{
    color: white;
}